@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MainFont';
  src: url('../public/Fonts/Gambarino-Regular.otf') format('truetype');
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: 'Second-font';
  src: url('../public/Fonts/Casta-Thin.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Zodiak';
  src: url('../public//Fonts//Zodiak-Thin.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}
