@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MainFont';
  src: url('../public/Fonts/Gambarino-Regular.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}
